.homeForm {
  text-align: center;
  background-color: lightgray;
  padding-bottom: 45px;
  margin-top: 500px;
  position: relative;
  margin: auto;
  width: 100%;
}

input[type="text"] {
  width: 550px;
  margin-top: 500px;
  padding: 15px 20px;
  box-sizing: border-box;
  border: none;
  background-color: white;
  color: dimgray;
  border-radius: 25px;
}

input:focus {
  outline: none;
}

.search {
  width: 70px;
  height: 45px;
  border-radius: 25px;
  border: none;
  background-color: #008cba;
  color: white;
}
