.allInfo {
  background-color: aquamarine;
  height: 200px;
  float: left;
}

.allLeft {
  background-color: blue;
  width: 75px;
  height: 200px;
  float: left;
}

.mininfo {
  background-color: burlywood;
  width: 200px;
  float: left;
  height: 200px;
}

.score {
  background-color: cadetblue;
  width: 75px;
  height: 200px;
  float: left;
}

.levcs {
  width: 100px;
  height: 200px;
  float: left;
  background-color: antiquewhite;
}

.item {
  width: 175px;
  height: 150px;
  float: left;
  padding-top: 50px;
  background-color: aliceblue;
}

.items {
  width: 40px;
  height: 40px;
  background-color: coral;
  float: left;
  border-radius: 10%;
  margin: 1px;
}

.teampic {
  width: 50px;
  height: 200px;
  float: left;
  background-color: aliceblue;
}

.teamPic {
  width: 35px;
  height: 35px;
  background-color: cadetblue;
  margin-left: 10px;
  margin-bottom: 5px;
}

.teamname {
  float: left;
  width: 100px;
  height: 200px;
  background-color: aliceblue;
}

.teamName {
  margin-bottom: 20px;
}
