.allInfo {
  background-color: aquamarine;
  height: 200px;
  float: left;
}

.allLeft {
  background-color: blue;
  width: 75px;
  height: 200px;
  float: left;
}

.mininfo {
  background-color: burlywood;
  width: 200px;
  float: left;
  height: 200px;
}

.score {
  background-color: cadetblue;
  width: 75px;
  height: 200px;
  float: left;
}

.levcs {
  width: 100px;
  height: 200px;
  float: left;
  background-color: antiquewhite;
}

.item {
  width: 175px;
  height: 200px;
  float: left;
  background-color: blueviolet;
}

.teampic {
  width: 50px;
  height: 200px;
  float: left;
  background-color: brown;
}

.teamname {
  float: left;
  width: 100px;
  height: 200px;
  background-color: burlywood;
}
