* {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #190c47;
  font-weight: bold;
  position: fixed;
  width: 100%;
  box-shadow: grey 0 3px 5px;
  padding-left: 9%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: lightgray;
}

/* 타이틀 */
.header {
  padding: 30px;
  text-align: center;
  background: lightgray;
}

.header h1 {
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 80px;
}
